page-login {

	.background{
		background-image: url('/assets/img/background.jpg');
		background-size: cover;
	}

	.toolbar-background{
		background-color: transparent !important;
		border: none !important;
	}

	.white{
		color: #FFF !important;
	}

	.background-white{
		background-color: #FFF !important;
	}

	.list-ios{
		margin: 0px !important;
	}

}
