<ion-header>

  <ion-navbar>
    <ion-title>Categorías</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

 	<ion-grid>

    	<ion-row>
    		<ion-col><h6>Categorías de mi restaurante</h6></ion-col>
    	</ion-row>

    	<ion-row *ngIf="restaurantCategories.length == 0">
    		<ion-col>
    			<p>Ninguna categoría selccionada. <br> 
    			Pulsa sobre una de las de abajo para asignarla a tu restaurante</p>
    		</ion-col>
    	</ion-row>

    	<!-- Selected Categories -->
    	<ion-row>
    		<ion-col>
			    <button ion-button outline *ngFor="let category of restaurantCategories; let i = index" (tap)="removeCategoryFromRestaurant(i)">{{category.categoryName}}</button>
    		</ion-col>
    	</ion-row>


    	<ion-row class="margin-top-10">
    		<ion-col><h6>Pulsa sobre la categoría para añadirla</h6></ion-col>
    	</ion-row>

    	<ion-row *ngIf="noSelectedCategories.length == 0">
    		<ion-col>
    			<p>No hay categorías disponibles</p>
    		</ion-col>
    	</ion-row>

    	<!-- Non Selected Categories -->
    	<ion-row>
    		<ion-col>
			    <button ion-button outline *ngFor="let categoryN of noSelectedCategories; let i = index" (tap)="addCategoryToRestaurant(i)">{{categoryN.categoryName}}</button>
    		</ion-col>
    	</ion-row>

    </ion-grid>

</ion-content>
