<ion-header>

  <ion-navbar>
    <ion-title>Restaurante</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-list class="no-margin-bottom">
	    <ion-item>
	      <ion-thumbnail item-start>
	        <img src="assets/img/place.png">
	      </ion-thumbnail>
	      <h2>{{restaurant.name}}</h2>
	      <p>{{restaurant.address}}, {{restaurant.cityName}}</p>
	      <p class="profile-description">{{restaurant.description}}</p>
	    </ion-item>
  	</ion-list>

  	<div>
	  <ion-segment [(ngModel)]="segmentOption">
	    <ion-segment-button value="pictures" class="segment-left">
	      Fotos de usuarios
	    </ion-segment-button>
	    <ion-segment-button value="more-information" class="segment-right">
	      Más información
	    </ion-segment-button>
	  </ion-segment>
	</div>

  	<div>
  		
  		<ion-grid [ngSwitch]="segmentOption">

  			<!-- Restaurant images -->
  			<ion-row *ngSwitchCase="'pictures'">
  				<ion-col col-6 no-padding><img src="assets/img/test.jpg"></ion-col>
  				<ion-col col-6 no-padding><img src="assets/img/test.jpg"></ion-col>
  				<ion-col col-6 no-padding><img src="assets/img/test.jpg"></ion-col>
  			</ion-row>

			  <!-- Users images -->
  			<ion-list *ngSwitchCase="'more-information'">
          <ion-item>
            <h2>Teléfono</h2>
            <p><a *ngIf="!restaurant.phoneNumber" href="tel:{{restaurant.phoneNumber}}">{{restaurant.phoneNumber}}</a></p>
            <p *ngIf="!restaurant.phoneNumber">Ninguno registrado</p>
          </ion-item>
          <ion-item>
            <h2>Precio medio</h2>
            <p *ngIf="restaurant.priceAverage">{{restaurant.priceAverage}}</p>
            <p *ngIf="!restaurant.priceAverage">Ninguno registrado</p>
          </ion-item>
          <ion-item>  
            <h2>Registrado desde</h2>
            <p>{{restaurant.registeredOn}}</p>
          </ion-item>
          <ion-item>  
            <h2>Ciudad</h2>
            <p>{{restaurant.cityName}}</p>
          </ion-item>
        </ion-list> 			

  		</ion-grid>

  	</div>

</ion-content>
