page-profile {

	.profile-description {
		margin-top: 10px !important;
		white-space: normal !important;
	}

	.no-margin-bottom {
		margin-bottom: 0px !important;
	}

	.margin-top {
		margin-top: 8% !important;
	}

}
