<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-list class="no-margin-bottom">
	    <ion-item>
	      <ion-thumbnail item-start>
	        <img *ngIf="user.picture" src="{{user.picture}}">
          	<img *ngIf="!user.picture" src="assets/img/picture.png">
	      </ion-thumbnail>
	      <h2>{{user.firstname}} {{user.lastname}}</h2>
	      <p>@{{user.username}}</p>
	      <p class="profile-description">{{user.target}}</p>
	    </ion-item>
  </ion-list>

	<div>
		
		<ion-grid>
			<ion-row>

				<ion-col *ngFor="let platePicture of userPlatePictures" col-6 no-padding>
					<img id="{{platePicture.platePictureId}}" src="{{platePicture.picture}}">
				</ion-col>

			</ion-row>
		</ion-grid>

	</div>

</ion-content>
