<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-list *ngIf="!lastPlatePictures || lastPlatePictures.length == 0">
    <ion-card>
        <ion-card-content>
            No hemos encontrado platos para tu búsqueda
        </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-refresher (ionRefresh)="refreshByScrollEvent($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-card *ngFor="let platePicture of lastPlatePictures">

      <img src="{{platePicture.picture}}" (click)="goToPlatePictureDetails(platePicture.platePictureId)">

      <div class="background-dark">

        <div class="card-title" (click)="goToRestaurant(platePicture.restaurantId)" text-capitalize>
          {{platePicture.restaurantName}}
        </div>

        <div class="card-subtitle" (click)="goToProfile(platePicture.userId)">
          Por @{{platePicture.username}}
        </div>

      </div>

    </ion-card>

    <ion-infinite-scroll (ionInfinite)="getMoreResults($event)">
     <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>

</ion-content>
