<ion-header>

  <ion-navbar>
    <ion-title>Actualizar email</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form [formGroup]="emailForm" (ngSubmit)="update()">

		<ion-list>

	  		<ion-item>
	    		<ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
	  		</ion-item>

		</ion-list>

		<!-- Validation messages -->

		<ion-list *ngIf="!emailForm.valid">
			<ion-item color="danger" *ngIf="!emailForm.valid">
				
				<p *ngIf="emailForm.get('email').hasError('required')">* Email obligatorio</p>
				
			</ion-item>
	  		
		</ion-list>

		<ion-grid>
			<ion-row>
				<ion-col>
					<button type="submit" ion-button full color="success" [disabled]="!emailForm.valid">Guardar</button>
				</ion-col>
			</ion-row>
		</ion-grid>

	</form>

</ion-content>
