<ion-header>

  <ion-navbar>
    <ion-title>Actualizar password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<form [formGroup]="passwordForm" (ngSubmit)="validateAndUpdate()">

		<ion-list>

			<ion-item>
	    		<ion-input formControlName="currentPassword" maxlength="25" type="password" placeholder="Contraseña actual"></ion-input>
	  		</ion-item>

	  		<ion-item>
	    		<ion-input formControlName="password1" maxlength="25" type="text" placeholder="Nueva contraseña"></ion-input>
	  		</ion-item>

	  		<ion-item>
	    		<ion-input formControlName="password2" maxlength="25" type="text" placeholder="Confirma contraseña"></ion-input>
	  		</ion-item>

		</ion-list>

		<!-- Validation messages -->

		<ion-list *ngIf="passwordForm.get('password2').touched && passwordForm.hasError('mismatchedPasswords')">
			<ion-item color="danger" *ngIf="!passwordForm.valid">
				
				<p>* Las contraseñas no coinciden</p>
				
			</ion-item>
	  		
		</ion-list>

		<ion-list *ngIf="showFormErrors">
			<ion-item color="danger" *ngIf="!passwordForm.valid">
				
				<p *ngIf="passwordForm.get('currentPassword').hasError('required')">* Contraseña actual obligatoria</p>
				<p *ngIf="passwordForm.get('password1').hasError('required')">* Contarseña obligatoria</p>
				
			</ion-item>
	  		
		</ion-list>

		<ion-grid>
			<ion-row>
				<ion-col>
					<button type="submit" ion-button full color="success" [disabled]="!passwordForm.valid">Guardar</button>
				</ion-col>
			</ion-row>
		</ion-grid>

	</form>

</ion-content>
