<ion-header>

  <ion-navbar>
    <ion-title>Actualizar password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<form [formGroup]="passwordForm" (ngSubmit)="update()">

		<ion-list>

	  		<ion-item>
	    		<ion-input formControlName="password1" type="text" placeholder="Password"></ion-input>
	  		</ion-item>

	  		<ion-item>
	    		<ion-input formControlName="password2" type="text" placeholder="Confirme password"></ion-input>
	  		</ion-item>

		</ion-list>

		<!-- Validation messages -->

		<ion-list *ngIf="!passwordForm.valid">
			<ion-item color="danger" *ngIf="!passwordForm.valid">
				
				<p *ngIf="passwordForm.get('password1').hasError('required')">* Password obligatorio</p>
				<p *ngIf="passwordForm.get('password2').hasError('required')">* Los passwords no coinciden</p>
				
			</ion-item>
	  		
		</ion-list>

		<ion-grid>
			<ion-row>
				<ion-col>
					<button type="submit" ion-button full color="success" [disabled]="!passwordForm.valid">Guardar</button>
				</ion-col>
			</ion-row>
		</ion-grid>

	</form>

</ion-content>
