<ion-header>

  <ion-navbar>
    <ion-title>Buscar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-searchbar [(ngModel)]="keySearch" (ionInput)="searchBySegment()" class="searchbar-pap" placeholder="Buscar"></ion-searchbar>

	<div>
	  <ion-segment [(ngModel)]="searchSegment" (ionChange)="searchBySegment()">

	    <ion-segment-button value="segment_restaurant" class="segment-left">
	      <ion-icon name="pin"></ion-icon>
	    </ion-segment-button>
	  
	    <ion-segment-button value="segment_plate" class="segment-right">
	      <ion-icon name="md-restaurant"></ion-icon>
	    </ion-segment-button>
	  	
	  	<ion-segment-button value="segment_category" class="segment-right">
	      <ion-icon name="pricetag"></ion-icon>
	    </ion-segment-button>

	    <ion-segment-button value="segment_user" class="segment-right">
	      <ion-icon name="contact"></ion-icon>
	    </ion-segment-button>

	  </ion-segment>
	</div>

	<!-- Loading div -->
	<ion-grid *ngIf="isLoading">
		<ion-row>
			<ion-col text-center><ion-spinner name="bubbles"></ion-spinner></ion-col>
		</ion-row>
	</ion-grid>


	<div [ngSwitch]="searchSegment">

		<!-- ******************  -->
		<!-- Restaurants results -->
		<!-- ******************  -->

	  	<ion-list *ngSwitchCase="'segment_restaurant'">

	    	<ion-item *ngFor="let restaurant of restaurantList" (click)="saveAndGoToRestaurant(restaurant.restaurantId, null)">
	      		<ion-thumbnail item-start>
	        		<img *ngIf="!restaurant.picture" src="assets/img/place.png">
	        		<img *ngIf="restaurant.picture" src="{{restaurant.picture}}">
	      		</ion-thumbnail>
	      		<h2>{{restaurant.name}}</h2>
	      		<p>{{restaurant.address}}, {{restaurant.cityName}}</p>
	    	</ion-item>

	    	<ion-card *ngIf="restaurantList.length == 0 && !isLoading">
            	<ion-card-content>
              		No hemos encontrado restaurantes para tu búsqueda
            	</ion-card-content>
          	</ion-card>
  	  	
  	  	</ion-list>

  	  	<!-- ****************** -->
  	  	<!-- Plates results     -->
  	  	<!-- ****************** -->

  	  	<ion-list *ngSwitchCase="'segment_plate'">

		  	<ion-item *ngFor="let plate of plateList" (click)="saveAndGoToRestaurant(plate.restaurantId, plate.plateId)">
		    	<ion-avatar item-start>
		      		<img src="assets/img/dishes.png">
		    	</ion-avatar>
		    	<h2>{{plate.plateName}}</h2>
		    	<p>En {{plate.restaurantName}}</p>
		  	</ion-item>

	    	<ion-card *ngIf="plateList.length == 0 && !isLoading">
            	<ion-card-content>
              		No hemos encontrado platos para tu búsqueda
            	</ion-card-content>
          	</ion-card>

		</ion-list>

		<!-- ****************** -->
	  	<!-- User segment       -->
	  	<!-- ****************** -->

	  	<ion-list *ngSwitchCase="'segment_user'">

	    	<ion-item *ngFor="let user of userList" (click)="goToProfile(user.userId)">
	      		<ion-avatar item-start>
	        		<img *ngIf="user.picture" src="{{user.picture}}">
          			<img *ngIf="!user.picture" src="assets/img/picture.png">
	      		</ion-avatar>
	      		<h2>{{user.firstname}} {{user.lastname}}</h2>
	      		<p>@{{user.username}}</p>
	    	</ion-item>

	    	<ion-card *ngIf="userList.length == 0 && !isLoading">
            	<ion-card-content>
              		No hemos encontrado usuarios para tu búsqueda
            	</ion-card-content>
          	</ion-card>

  	  	</ion-list>

  	  	<!-- ****************** -->
  	  	<!-- Categories Segment -->
  	  	<!-- ****************** -->

	  	<ion-list *ngSwitchCase="'segment_category'">

	  		<ion-grid *ngIf="selectedCategory.categoryName != '' || selectedCity.cityName != ''">
				<ion-row> 
					<ion-col>

						<button ion-button outline icon-left (click)="removeTag('category')" *ngIf="selectedCategory.categoryName != ''">
							<ion-icon name="close"></ion-icon>
							{{selectedCategory.categoryName}}
						</button>

						<button ion-button outline icon-left (click)="removeTag('city')" *ngIf="selectedCity.cityName != ''">
							<ion-icon name="close"></ion-icon>
							{{selectedCity.cityName}}
						</button>

					</ion-col>

				</ion-row>
			</ion-grid>

			<ion-list *ngIf="restaurantsCategoriesList.length == 0">

				<ion-item>
					<ion-label floating>¿Dónde?</ion-label>
					<ion-input type="text" [(ngModel)]="keySearchCity" (keyup)="searchCities()" maxlength="20"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label floating>¿Qué tipo de comida?</ion-label>
					<ion-input type="text" [(ngModel)]="keySearchCategory" (keyup)="searchCategories()" maxlength="10"></ion-input>
				</ion-item>

			</ion-list>

			<!-- Categories -->

			<ion-grid *ngIf="categoriesList.length > 0">
				<ion-row>

					<ion-col>

						<button *ngFor="let category of categoriesList; let i = index" ion-button outline (click)="addCategoryToTags(i)">
							{{category.categoryName}}
						</button>
					</ion-col>
					
				</ion-row>
			</ion-grid>

			<!-- Cities -->

			<ion-list *ngIf="cityList.length > 0">
			  	<ion-item *ngFor="let city of cityList; let i = index" (click)="addCityToTags(i)">
			    	<ion-icon name="pin" item-start></ion-icon>{{city.cityName}}
			  	</ion-item>
			</ion-list>

			<!-- Restaurants -->

			<ion-item *ngFor="let restaurant of restaurantsCategoriesList" (click)="saveAndGoToRestaurant(restaurant.restaurantId, null)">
	      		<ion-thumbnail item-start>
	        		<img *ngIf="!restaurant.picture" src="assets/img/place.png">
	        		<img *ngIf="restaurant.picture" src="{{restaurant.picture}}">
	      		</ion-thumbnail>
	      		<h2>{{restaurant.name}}</h2>
	      		<p>{{restaurant.address}}, {{restaurant.cityName}}</p>
	    	</ion-item>
			
	    	<ion-card *ngIf="cityList.length == 0 && categoriesList.length == 0 && 
	    		restaurantsCategoriesList.length == 0 && !isLoading">
            	<ion-card-content>
              		No hemos encontrado resultados para tu búsqueda
            	</ion-card-content>
          	</ion-card>

  	  	</ion-list>



  	</div>

</ion-content>
