<ion-header>

  <ion-navbar>
    <ion-title>Buscar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-searchbar [(ngModel)]="keySearch" (ionInput)="searchBySegment()" class="searchbar-pap" placeholder="Buscar"></ion-searchbar>

	<div>
	  <ion-segment [(ngModel)]="searchSegment" (ionChange)="searchBySegment()">

	    <ion-segment-button value="segment_restaurant" class="segment-left">
	      <ion-icon name="pin"></ion-icon>
	    </ion-segment-button>
	  
	    <ion-segment-button value="segment_plate" class="segment-right">
	      <ion-icon name="md-restaurant"></ion-icon>
	    </ion-segment-button>
	  	
	  	<ion-segment-button value="segment_category" class="segment-right">
	      <ion-icon name="pricetag"></ion-icon>
	    </ion-segment-button>

	    <ion-segment-button value="segment_user" class="segment-right">
	      <ion-icon name="contact"></ion-icon>
	    </ion-segment-button>

	  </ion-segment>
	</div>

	<!-- Loading div -->
	<ion-grid *ngIf="isLoading">
		<ion-row>
			<ion-col text-center><ion-spinner name="bubbles"></ion-spinner></ion-col>
		</ion-row>
	</ion-grid>


	<div [ngSwitch]="searchSegment">

		<!-- Restaurants results -->

	  	<ion-list *ngSwitchCase="'segment_restaurant'">

	    	<ion-item *ngFor="let restaurant of restaurantList" (click)="saveAndGoToRestaurant(restaurant.restaurantId, null)">
	      		<ion-thumbnail item-start>
	        		<img *ngIf="!restaurant.picture" src="assets/img/place.png">
	        		<img *ngIf="restaurant.picture" src="{{restaurant.picture}}">
	      		</ion-thumbnail>
	      		<h2>{{restaurant.name}}</h2>
	      		<p>{{restaurant.address}}, {{restaurant.cityName}}</p>
	    	</ion-item>

	    	<ion-card *ngIf="restaurantList.length == 0 && !isLoading">
            	<ion-card-content>
              		No hemos encontrado restaurantes para tu búsqueda
            	</ion-card-content>
          	</ion-card>
  	  	
  	  	</ion-list>

  	  	<!-- Plates results -->

  	  	<ion-list *ngSwitchCase="'segment_plate'">

		  	<ion-item *ngFor="let plate of plateList" (click)="saveAndGoToRestaurant(plate.restaurantId, plate.plateId)">
		    	<ion-avatar item-start>
		      		<img src="assets/img/dishes.png">
		    	</ion-avatar>
		    	<h2>{{plate.plateName}}</h2>
		    	<p>En {{plate.restaurantName}}</p>
		  	</ion-item>

	    	<ion-card *ngIf="plateList.length == 0 && !isLoading">
            	<ion-card-content>
              		No hemos encontrado platos para tu búsqueda
            	</ion-card-content>
          	</ion-card>

		</ion-list>

	  	<!-- User results -->

	  	<ion-list *ngSwitchCase="'segment_user'">

	    	<ion-item *ngFor="let user of userList" (click)="goToProfile(user.userId)">
	      		<ion-thumbnail item-start>
	        		<img *ngIf="user.picture" src="{{user.picture}}">
          			<img *ngIf="!user.picture" src="assets/img/picture.png">
	      		</ion-thumbnail>
	      		<h2>{{user.firstname}} {{user.lastname}}</h2>
	      		<p>@{{user.username}}</p>
	    	</ion-item>

	    	<ion-card *ngIf="userList.length == 0 && !isLoading">
            	<ion-card-content>
              		No hemos encontrado usuarios para tu búsqueda
            	</ion-card-content>
          	</ion-card>

  	  	</ion-list>	  	  


  	</div>

</ion-content>
