<ion-header>

  <ion-navbar>
    <ion-title>Comentarios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>

	  <ion-item-sliding *ngFor="let comment of commentsList">
	    
	    	<ion-item (click)="goToProfile(comment.userId)">
	      		<ion-avatar item-start>
	        		<img *ngIf="comment.userImage" src="{{comment.userImage}}">
	        		<img *ngIf="!comment.userImage" src="assets/img/picture.png">
	      		</ion-avatar>
	      		<h2>@{{comment.username}}</h2>
	      		<h4><i>{{comment.registeredOn}}</i></h4>
	      		<p>{{comment.comment}}</p>
	    	</ion-item>

	  	</ion-item-sliding>

		<ion-item-sliding *ngIf="commentsList.length == 0">
	    
	    	<ion-item>
	      		<h2>¡Sé el primero en comentar!</h2>
	    	</ion-item>

	  	</ion-item-sliding>	  

	</ion-list>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <!--
		New comment form
	-->
	<form [formGroup]="commentForm" (ngSubmit)="validateAndSaveComment()">

		<ion-list inset>

			<ion-item>
			<ion-input formControlName="comment" type="text" maxlength="150" placeholder="¿Qué tal si nos cuentas?"></ion-input>
	  		</ion-item>

		</ion-list>

		<!-- Validation messages -->
		<ion-list *ngIf="showFormErrors">
			<ion-item color="danger" *ngIf="!commentForm.valid">
				
				<p *ngIf="commentForm.get('comment').hasError('required')">* Comentario obligatorio</p>
				<p *ngIf="commentForm.get('comment').hasError('maxLength')">* El comentario solo puede tener 150 caracteres</p>
				
			</ion-item>
	  		
		</ion-list>

		<ion-grid>
			<ion-row>
				<ion-col>
					<button type="submit" ion-button full color="success" [disabled]="!commentForm.valid">Guardar</button>
				</ion-col>
			</ion-row>
		</ion-grid>

	</form>

  </ion-toolbar>
</ion-footer>